<%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
      <div class="register">
        <h1>Welcome Back!</h1>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="user[email]" class="form-control" placeholder="name@example.com" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" name="user[password]" class="form-control" placeholder="Enter Password here"
              required>
          </div>
          <button class="btn btn-primary" type="submit">Login</button>
          <p>dont have and account? <a href="/registration"> Register Here</a></p>
        </form>
      </div>
  </body>