

/* navbar styles */
#welcome { 
  font-size: 1.3em;
  padding-right: 20px;
}
#navLinks{ 
  padding-left: 35px;
}

#title { 
  font-size: 1.5em;
  margin :0;
}
/* register */
.register{ 
  width: 35%;
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
}
.register h1,.register p { 
  text-align: center;
}
/* Url index */
.indexUrl{ 
padding-left: 20px;
padding-right: 20px;
padding-top:40px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-items: center;
background-color: rgb(255, 255, 255);
}

#LoginMessage{ 
  padding-top: 100px;
 
}

/* create URL styles */
.createUrl{ 
  text-align: center;
  padding-top: 300px;
  margin:auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showPage { 
  text-align: center;
  padding-top: 300px;
  margin:auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* update URL */
#updateTitle{ 
  font-size: 1.3em;
}